button {
    background-color: red;
    color: black;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
}

#darker-button {
    background-color: darkred;
    color: whitesmoke;
}

#darker-button.big-button:hover {
    border: 2px solid black;
}

h1 {
    text-align: center;
    color: black;
}

#paragraph-after-buttom {
    margin-top: 40px;
    margin-bottom: 40px;
}

.big-button {
    padding: 10px 10px;
}